<!DOCTYPE HTML>
<html>
<head> 
  <title>DANH SÁCH LOẠI SẢNH</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <th:block th:insert="~{index :: libs}"></th:block>
</head>
<body class="nav-md">
  <th:block th:insert="~{index :: menu-bar}"></th:block>

  <!-- MODEL -->
  <div class="container">
    <!-- Trigger the modal with a button -->  
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <!-- HEADER -->
          <div class="modal-header">
            <p style="display: none; visibility: hidden;" id="mType">update</p>
            <h4 class="modal-title" id="mTitle">CẬP NHẬT LOẠI SẢNH</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- BODY -->
          <div class="modal-body">
            <div class="form-group row">
              <label for="tenLoaiSanh" class="col-3 col-form-label">Tên loại sảnh</label>
              <div class="col-9">
                <input class="form-control" type="hidden" value="" id="maLoaiSanh">
                <input class="form-control" type="text" value="" id="tenLoaiSanh">
              </div>
            </div>
            <div class="form-group row">
              <label for="donGiaBanToiThieu" class="col-3 col-form-label">Đơn giá bàn tối thiểu</label>
              <div class="col-9">
                <input class="form-control" type="number" value="" id="donGiaBanToiThieu">
              </div>
            </div>
          <!-- FOOTER -->
          </div>
          <div class="modal-footer">
            <!-- PHÂN QUYỀN -->
            <th:block th:switch="${role}">
              <th:block th:case="''" >
                
              </th:block>
              <th:block th:case="'admin'">
                
              </th:block>
              <th:block th:case="'bql'">
                <button type="button" id="capNhat" class="btn btn-success"  data-dismiss="modal">Cập nhât</button>
                
              </th:block>
              <th:block th:case="'nhanvien'">
                
              </th:block>
            </th:block> 
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container body">
    <div class="main_container">
      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">

            <!-- TITLE -->
            <div class="title_left fa">
              <h3>DANH SÁCH LOẠI SẢNH</h3>
            </div>

            <div class="title_right">
              <div class="col-md-3 col-sm-6 col-xs-12 form-group pull-right">
                <div class="input-group">
                  <th:block th:switch="${role}">
                      <th:block th:case="''" >
                        
                      </th:block>
                      <th:block th:case="'admin'">
                        
                      </th:block>
                      <th:block th:case="'bql'">
                        <button class="btn btn-success" data-toggle='modal' data-target='#myModal' id="themThongTinSanh">Thêm loại sảnh</button>
                      </th:block>
                      <th:block th:case="'nhanvien'">
                        
                      </th:block>
                    </th:block> 
                  
                </div>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-12 col-sm-12 ">
              <div class="x_panel">
                <div class="x_title">

                </div>
                <div class="x_content">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="card-box table-responsive">
                        
                        <!-- TABLE -->
                        <table id="table_id" class="table table-bordered" style="width:100%">                  
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">STT</th>
                              <th scope="col">Loại Sảnh</th>
                              <th scope="col">Đơn giá bàn tối thiểu</th>
                              <th:block th:switch="${role}">
                                <th:block th:case="''" >
                                  
                                </th:block>
                                <th:block th:case="'admin'">
                                  
                                </th:block>
                                <th:block th:case="'bql'">
                                  <th scope="col">Tùy chọn</th>
                                </th:block>
                                <th:block th:case="'nhanvien'">
                                  
                                </th:block>
                              </th:block> 
                            </tr>
                          </thead>
                          <tbody id="dsLoaiSanh">        
                          </tbody>                          
                        </table>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Datatables -->
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>
  <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="../vendors/jszip/dist/jszip.min.js"></script>
  <script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="../vendors/pdfmake/build/vfs_fonts.js"></script>

  <!-- Custom Theme Scripts -->
  <script src="../build/js/custom.min.js"></script>
    
  <script>
      switch ($("#roleUser").html()){
        case '':
        var table = $('#table_id').DataTable({
                paging: true,
                select: true,
                
                order: [ [ 1, 'asc' ] ],
                lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
                ajax: {
                    url: '/api/ds-loai-sanh',
                    dataSrc: ''
                    
                },                                
                columns: [     
                    {
                      "data": "tenLoaiSanh",
                      "targets": 0 
                    },               
                    { 
                      "data": "tenLoaiSanh",
                      "targets": 1 
                    },
                    { 
                      "data": "donGiaBanToiThieu",
                      "targets": 2
                    },                                                    
                ],
                language: {
                  url: "/json/language.json"
                },
                buttons: [                    
                ],
            });

      
          break;        
        case 'admin':
          break;
        case 'bql':  
          var table = $('#table_id').DataTable({
                paging: true,
                select: true,
                dom: 'Bfrtip',
                order: [ [ 1, 'asc' ] ],
                lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
                ajax: {
                    url: '/api/ds-loai-sanh',
                    dataSrc: ''
                    
                },                
                language: {
                  url: "/json/language.json"
                },
                columns: [     
                    {
                      "data": "tenLoaiSanh",
                      "targets": 0 
                    },               
                    { 
                      "data": "tenLoaiSanh",
                      "targets": 1 
                    },
                    { 
                      "data": "donGiaBanToiThieu",
                      "targets": 2
                    },                    
                    { 
                      "data": "maLoaiSanh",
                      "width": "25%",
                      "targets": 4, 
                      "render": function( data, type){
                        

                        return "<button " 
                        +  "type='button' "
                        +  "id='chi-tiet-loai-sanh' "
                        +  "stype='margin-left: 3%;' "
                        +  "class='fa btn btn-success' "
                        +  "data-toggle='modal' "
                        +  "data-target='#myModal' "
                        
                        + ">" 
                        + "Cập nhật loại sảnh"
                        + "</button>"
                        + "<button " 
                        +  "type='button' "
                        +  "id='xoa-loai-sanh' "
                        +  "stype='margin-left: 3%;' "
                        +  "class='fa btn btn-success' "                        
                        + ">" 
                        + "Xóa loại sảnh"
                        + "</button>"
                      }
                    }              
                ],
                buttons: [
                    'pageLength',                    
                    // {
                    //     extend: 'print',
                    //     exportOptions: {
                    //         columns: '.can-print'
                    //     },
                    //     title: '',
                    //     customize: function ( win ) {
                    //       // $(win.document.body).empty()
                          
                    //       $(win.document.body).prepend($("<h1>", {
                    //         text: "Báo cáo tháng " + $("#thang").val()
                    //       })); //before the table             

                    //       $(win.document.body).append('<h3>Người lập Hoàng</h3>'); //after the table
                          
                          
                    //     }
                    // }
                ],
            });

        
          break;
        case 'nhanvien': 
        
        break;
      }
      $('#table_id tbody').on( 'click', 'button', function () {
          var data = table.row( $(this).parents('tr') ).data();
          if ($(this).attr("id") == "chi-tiet-loai-sanh"){
            $.get("http://localhost:8080/api/thong-tin-loai-sanh?lsid=" + data.maLoaiSanh, function(data){
              $("#capNhat").html("Cập nhật")
              $("#mTitle").html("CẬP NHẬT LOẠI SẢNH")
              $("#tenLoaiSanh").val(data["tenLoaiSanh"])
              $("#donGiaBanToiThieu").val(data["donGiaBanToiThieu"])
              $("#maLoaiSanh").val(data["maLoaiSanh"])
              $("#mType").html("update")
            })
          }
          if ($(this).attr("id") == "xoa-loai-sanh"){
            if (confirm('Bạn có chắc muốn xóa dữ liệu này?')){
              $.ajax({
                url: '/api/xoa-loai-sanh?lsid=' + data.maLoaiSanh,
                type: 'DELETE',
                success: function(result) {
                  alert("Xóa thành công")
                  table.ajax.reload();
                },
                error: function(){
                  alert("Xóa thất bại")
                }

            });
            }

          }
      } );

      table.on( 'order.dt search.dt', function () {
          table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
              cell.innerHTML = i+1;
          } );
      } ).draw();

      switch($("#roleUser").html()) {
        case '':
          $("#myModal input").prop('readonly', true);
          $("#myModal input").removeClass("form-control")
          $("#myModal input").addClass("form-control-plaintext")
          //alert($("#mTitle").html())
          break;
        case 'admin':
          $("#myModal input").removeClass("form-control")
          $("#myModal input").addClass("form-control-plaintext")
          $("#myModal input").prop('readonly', true);
          break;
        case 'bql':
          $("#myModal input").removeClass("form-control-plaintext")
          $("#myModal input").addClass("form-control")
          $("#myModal input").prop('readonly', false);
          //$("#mTitle").html("Cập nhật danh sách loại sảnh")
          $("#dsLoaiSanh").append($('<tr>', { 
                "id":  "row-add",
                "style": " border: 1px solid Transparent!important;"
          }))
          break;
        case 'nhanvien':
          $("#myModal input").removeClass("form-control")
          $("#myModal input").addClass("form-control-plaintext")
          $("#myModal input").prop('readonly', true);
          break;
        default:
          // code block
      }
      
      
      
      $("#capNhat").click(function(){
      //alert("Cap nhat")
      
        data = {}
        
        data["maLoaiSanh"] = $("#maLoaiSanh").val()
        data["tenLoaiSanh"] = $("#tenLoaiSanh").val()
        data["donGiaBanToiThieu"] = $("#donGiaBanToiThieu").val()
        
        console.log(JSON.stringify(data))
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "http://localhost:8080/api/cap-nhat-loai-sanh?type=" + $("#mType").html(),
            data: JSON.stringify(data),
            dataType: "json",
            success: function(e){
              if ($("#mType").html() == "update"){
                alert("Cập nhật thành công")
              }
              if ($("#mType").html() == "add"){
                alert("Thêm thành công")
              }
              
              table.ajax.reload();
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              if ($("#mType").html() == "update"){
                alert("Cập nhật thất bại")
              }
              if ($("#mType").html() == "add"){
                alert("Thêm thất bại")
              }
              
              // alert(JSON.stringify(XMLHttpRequest));
              // alert(JSON.stringify(XMLHttpRequest["responseJSON"]["errorMessageList"]));
              //location.reload();
              // $.each(Object.keys(XMLHttpRequest["responseJSON"]["errorMessageList"][0]), function(index, d){
              //   //alert(d);
              //   $("#msg_" + d).html(XMLHttpRequest["responseJSON"]["errorMessageList"][0][d])
              //   $("#msg_" + d).addClass("alert alert-danger")
              // })
            }
          })
        //location.reload();
      })

      $("#themThongTinSanh").click(function(){      
        $("#capNhat").html("Thêm")
        $("#mType").html("add")
        
        $("#mTitle").html("THÊM THÔNG LOẠI SẢNH")
        $("#tenLoaiSanh").val("")
        $("#donGiaBanToiThieu").val("")
      })
     
    
  </script>
</body>
</html>