<!DOCTYPE HTML>
<html>
<head> 
    <title>HÓA ĐƠN TIỆC CƯỚI </title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <th:block th:insert="~{index :: libs}"></th:block>
    <style>
      .dataTables_filter input { width: 10% }
    </style>
</head>
<body class="nav-md">
    <th:block th:insert="~{index :: menu-bar}"></th:block>

    <div class="container body" id='DivIdToPrint'>
      <div class="main_container">        
        <div class="right_col" role="main">
          <div class="">                     
            <div class="col-md-12 col-sm-12">
              <div class="x_panel">
                <div class="x_title fa">
                  <h1 style="color:black">HÓA ĐƠN TIỆC CƯỚI <span id="maTiec" th:text="${maTiecCuoi}" style="visibility: hidden; display: none;"></span></h1>
                  <div class="clearfix"></div>
                  
                </div>
                <button type="submit" id="xoa" class="btn btn-success btn-lg" style="margin-left:55%">Xóa</button>
              </div>
            </div>                     
            <div class="col-md-12 col-sm-12">
              <div class="x_panel">
                
                <div class="x_content">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col">
                            <h4 style="color:black">Tên chú rể : <span id="tenChuRe"></span></h4>                
                        </div>
                        <div class="col">
                            <h4 style="color:black">Tên cô dâu : <span id="tenCoDau"></span></h4>                
                        </div>
                        <div class="col">
                            <h4 style="color:black">Ngày thanh toán : <span id="ngayThanhToan"></span></h4> 
                        </div> 
                      </div>
                      <div class="row">
                        <div class="col">
                            <h4 style="color:black">Số lượng bàn : <span id="soLuongBan"></span></h4>                
                        </div>
                        <div class="col">
                          <h4 style="color:black">Số lượng bàn dự trữ : <span id="soLuongBanDuTru"></span></h4>           
                        </div> 
                        <div class="col">
                          <h4 style="color:black">Ngày đãi tiệc : <span id="ngayDaiTiec"></span></h4>                
                        </div>                         
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                        <h4 style="color:black">Số ngày trễ hạn : <span id="soNgayTreHan"></span></h4>                
                    </div>                    
                    <div class="col">
                      <h4 style="color:black">Đơn giá bàn: <span id="donGiaBan"></span></h4>                
                    </div> 
                    <div class="col">
                      <h4 style="color:black">Tổng tiền bàn : <span id="tongTienBan"></span></h4>               
                    </div>                    
                  </div>
                </div>
              </div>
            </div>               
            
            <!---->
            <div class="row" style="display: block;">
              <div class="col-md-6 col-sm-6  ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2 style="color:black">DANH SÁCH MÓN ĂN</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table id="table_ma" class="table table-bordered" style="width:100%">
                      <caption><h5 style="color:black">Tổng tiền món ăn (trên 1 bàn): <span  id="tongTienMonAn"></span></span> </h5></caption>
                      <thead class="thead-dark">
                        <tr>
                          <th>STT</th>
                          <th>Tên Món Ăn</th>
                          <th>Đơn giá</th>
                        </tr>
                      </thead>
                      <tbody id="dsMonAn" style="color:black" >                         
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
              
              
            <div class="row" style="display: block;">
              <div class="col-md-6 col-sm-6  ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2 style="color:black">DANH SÁCH DỊCH VỤ</h2>                       
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table id="table_dv" class="table table-bordered" style="width:100%">
                      <caption><h5 style="color:black">Tổng tiền dịch vụ : <span  id="tongTienDichVu"></span></h5></caption>
                      <thead class="thead-dark">
                        <tr>
                          <th>STT</th>
                          <th>Tên Dịch vụ</th>
                          <th>Số lượng</th>
                          <th>Đơn giá</th>
                          <th>Thành tiền</th>
                        </tr>
                      </thead>
                      <tbody id="dsDichVu">
                        <tr>
                          <td ></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>    
                      </tbody>  
                    </table>  
                  </div>
                </div>
              </div>
            </div>
                
            <!-- -->
            <div class="col-md-12 col-sm-12 ">
              <div class="x_panel">
                <div class="x_content">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col">
                            <h4 style="color:black">Tiền phạt : <span id="tienPhat"></span> </h4>                
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                            <h4 style="color:black">Tổng tiền hóa đơn : <span id="tongTienHoaDon"></span> </h4>                
                        </div>
                      </div>
                      <div class = row>
                        <div class="col">
                            <h4 style="color:black">Tiền đặt cọc : <span id="tienDatCoc"></span> </h4>                
                        </div>
                      </div>
                      <div class="row">
                          <div class="col">
                              <h4 style="color:black">Còn lại : <span  id="conLai"></span> </h4>
                          </div>
                      </div>
                      <div class="row">
                        <button type="submit" id="xacNhan" class="btn btn-success btn-lg" style="margin-left:40%">Xác nhận</button>
                        <!-- <input type='button' id='btn' value='Print' onclick='openPrintDialogue();'> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>   
          </div>        
        </div>
      </div>  
    </div>  
      <!-- footer content -->
    <footer>
      <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->

    <th:block th:insert="~{index :: jsfiles}"></th:block>

    <!-- Datatables -->
    <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="../vendors/jszip/dist/jszip.min.js"></script>
    <script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="../vendors/pdfmake/build/vfs_fonts.js"></script>
    
    <script>
      //alert($("#maTiec").text())
      
    
      function openPrintDialogue(){
        $('<iframe>', {
          name: 'myiframe',
          class: 'printFrame'
        })
        .appendTo('body')
        .contents().find('body')
        .append(`
          <h1>Our Amazing Offer</h1>
          <img src='coupon.png' />
          <table id="table_dv" class="table table-bordered" style="width:100%">
            <caption><h5 style="color:black">Tổng tiền dịch vụ : <span  id="tongTienDichVu"></span></h5></caption>
            <thead>
              <tr>
                <th>STT</th>
                <th>Tên Dịch vụ</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
              </tr>
            </thead>
            <tbody id="dsDichVu">
              <tr>
                <td ></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>    
            </tbody>  
          </table>  
        `);

        window.frames['myiframe'].focus();
        window.frames['myiframe'].print();

        setTimeout(() => { $(".printFrame").remove(); }, 1000);
      };
      dichVu = []
      $.get("http://localhost:8080/api/thong-tin-hoa-don?maTiecCuoi=" + $("#maTiec").text(), function(data){
        //alert("GEt Success")
        //alert(JSON.stringify(data))
        $("#tenChuRe").text(data["tenChuRe"])
        $("#tenCoDau").text(data["tenCoDau"])
       
        $("#ngayThanhToan").text(data["ngayThanhToan"])
        $("#ngayDaiTiec").text(data["ngayDaiTiec"])
        $("#soLuongBan").text(data["soLuongBan"])
        $("#soLuongBanDuTru").text(data["soLuongBanDuTru"])
        $("#soNgayTreHan").text(data["ngayTreHan"])
        $("#donGiaBan").text(data["donGiaBan"])
        $("#tongTienBan").text(data["tongTienBan"])
        $("#tongTienDichVu").text(data["tongTienDichVu"])
        $("#tongTienMonAn").text(data["tongTienMonAn"])
        $("#tienPhat").text(data["tienPhat"])
        $("#tongTienHoaDon").text(data["tongTienHoaDon"])
        $("#tienDatCoc").text(data["tienDatCoc"])
        $("#conLai").text(data["conLai"])

        $("#dsMonAn").empty()
        $("#dsDichVu").empty()

        // alert(JSON.stringify(data["monAn"]))
        var table_ma = $('#table_ma').DataTable({
          paging: true,
          select: true,
          order: [ [ 1, 'asc' ] ],
          language: {
                  url: "/json/language.json"
                },
          lengthMenu: [ [3, 25, 50, -1], [3, 25, 50, "All"] ],
          data: data["monAn"],
          columns: [     
                    {
                      "data": null,
                      
                    },                                   
                    { 
                      "data": "tenMonAn",
                      
                    },
                    { "data": "donGia",
                      
                    },
                                
                ],
        })            

        var table_dv = $('#table_dv').DataTable({
          paging: true,
          select: true,
          order: [ [ 1, 'asc' ] ],
          language: {
                  url: "/json/language.json"
                },
          lengthMenu: [ [3, 25, 50, -1], [3, 25, 50, "All"] ],
          data: data["dichVu"],
          columns: [     
                    {
                      "data": null,
                      
                    },                                   
                    { 
                      "data": "tenDichVu",
                      
                    },
                    { 
                      "data": "soLuong",                      
                    },
                    { 
                      "data": "donGia",                      
                    },
                    { 
                      "data": "thanhTien",                      
                    },
                                
                ],
        })
        // alert(JSON.stringify(data["monAn"]))
        // $.each(data["monAn"], function(index, d){
        //   table_ma.clear()
        //   alert(JSON.stringify(d))
        //       table_ma.row.add( [
        //           null,
        //           d.tenMonAn,
        //           d.donGia,                        
        //   ] ).draw( false );          
         
        // })
        table_ma.on( 'order.dt search.dt', function () {
            table_ma.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                cell.innerHTML = i+1;
            } );
          } ).draw();
       
        table_dv.on( 'order.dt search.dt', function () {
            table_dv.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                cell.innerHTML = i+1;
            } );
          } ).draw();
      })
      $("#xoa").click(function(e){
        if (confirm('Việc xóa hóa đơn này cũng sẽ xóa luôn tiệc cưới bạn đã đặt\nBạn có chắc muốn tiếp tục xóa hóa đơn này?')){
          $.ajax({
            url: '/api/hoa-don/xoa?maTiecCuoi=' + $("#maTiec").text(),
            type: 'DELETE',
            success: function(result) {
               alert("Xóa thành công")
               window.location.href = "/tra-cuu-hoa-don";

            },
            error: function(){
              alert("Xóa thất bại")
            }

        });
        }
       
      })
      $('input[type="search"]').css({ 'width': '50px'});
      $("#xacNhan").click(function(e){
        e.preventDefault()
        // alert("Xac nhan hoa don!" + $("#maTiec").html())
        data = {}

        data["maTiecCuoi"] = $("#maTiec").html()
        data["ngayThanhToan"] = $("#ngayThanhToan").html()
        data["donGiaBan"] = $("#donGiaBan").html()
        data["tongTienBan"] = $("#tongTienBan").html()
        data["tongTienHoaDon"] = $("#tongTienHoaDon").html()
        data["tongTienDichVu"] = $("#tongTienDichVu").html()
        data["tienDatCoc"] = $("#tienDatCoc").html()
        data["conLai"] = $("#conLai").html()
        data["dichVu"] = dichVu

        // alert(JSON.stringify(data))
        //alert(JSON.stringify(dichVu))
        if (confirm('Bạn có chắc muốn lập hóa đơn này?')){
          $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "http://localhost:8080/api/lap-hoa-don",
            data: JSON.stringify(data),
            dataType: "json",
            success: function(){
              alert("Lập hóa đơn thành công")
              window.location.href = "/tra-cuu-hoa-don";
            }
          })
        }
      
      })
   </script>
</body>
</html>