<!DOCTYPE HTML>
<html>
<head> 
    <title>Home Page</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <th:block th:insert="~{index :: libs}"></th:block>
</head>
<body  class="login">
  <div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <form th:action = "@{/login}" method="post" >
            <h1>Đăng Nhập</h1>
            <p th:if="${loginError}" class="error">Vui lòng nhập lại tên đăng nhập hoặc mật khẩu</p>
            <div>
              <input type="text" name="username" id="username" class="form-control" aria-describedby="emailValidate" placeholder="Tên đăng nhập" required="" />
              <small id="emailValidate" class="form-text text-muted"></small>
            </div>
            <div>
              <input type="password" name="password" id="password" aria-describedby="passValidate" class="form-control" placeholder="Mật khẩu" required="" />
              <small id="emailValidate" class="form-text text-muted"></small>
            </div>            
            <div>
              <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
              <button class="btn btn-success" type="submit" >Đăng nhập</button>
            </div>
            <div>
              <a href="/" class="fa fa-home"><strong> Quay lại trang chủ</strong></a>
            </div>
            <div class="clearfix"></div>
            <div class="separator"> 
              <div class="clearfix"></div>
              <br />
              <div>   
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</body>
</html>